@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Core 2.2 MVC Data-driven site</h1>
    <h2>with Sorting and Paging</h2>
    <p>
        <br /><br />
        Paging done by hand, using skip and take.<br /><br />
        No AJAX yet.
    </p>
</div>
